* {
  box-sizing: border-box;
  margin: 0;
}
.container-hero {
  display: flex;
  height: 600px;
  position: relative;
  justify-content: space-around;
  border: 1px solid blue;
  justify-content: space-between;
  background: linear-gradient(
      to right,
      hsla(197, 38%, 28%, 0.698),
      hsla(195, 35%, 19%, 0.452),
      hsla(198, 44%, 11%, 0.445)
    ),
    url(../img/img-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 60px;
  height: 600px;
}
.weave-hero {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.info-contactos {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  width: 50%;
  margin-top: 60px;
}
.text-contact {
  position: absolute;
  left: 25%;
  top: 25%;
  transform: translate(-25%, -25%);
  width: 100%;
  border: 1px solid red;
  text-align: center;
}
.social-icons {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
}
.social-icons i {
  color: white;
  margin: 20px;
  font-size: 25px;
}
.form-container {
  display: flex;
  width: 50%;

  margin-top: 60px;
  justify-content: center;
  z-index: 1;
}

form {
  background: rgba(6, 33, 59, 0.411);
  color: rgb(144, 136, 185);
  border-radius: 10px;
  box-shadow: 0 0 6px 0rgba (255, 255, 255, 0.8);
  width: 50%;
  padding: 10px 0;
}
form h2 {
  color: #c6c6c6;
  text-align: center;
  margin: 10px 0;
}
form .grupo {
  position: relative;
  margin: 45px;
}
input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff67;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  color: rgb(240, 236, 235);
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 15px;
  color: #2196f3;
}
label {
  color: #d6d6d667;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 18px;
  transition: 0.5s ease all;
  pointer-events: none;
}
/* .barra {
    position: relative;
    display: block;
    width: 100%;
  }
  input:focus ~ .barra::before,
  textarea:focus ~ .barra::before {
    width: 100%;
  }
  
  .barra::before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6a82fb, #fc5d7d);
    transition: 0.3s ease all;
    left: 0;
  } */
button {
  background: rgba(153, 0, 255, 0.534);
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}
@media (max-width: 1040px) {
  .container-hero {
    flex-direction: column;
  }
  .info-contactos {
    width: 100%;
    height: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .social-icons i {
    margin: 10px;
  }
  .social-icons {
    width: 100%;
    border: 1px solid red;
    text-align: center;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
  }

  .form-container {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  form {
    background: rgba(6, 33, 59, 0.623);
    width: 100%;
  }
}
@media(max-width: 768px) {
    .form-container{
        width: 80%;
    }
}
@media(max-width: 450px) {
    .form-container{
        width: 90%;
    }
}

/* @media (max-width: 910) {
    .container-hero{
        flex-direction: column;
    }
    .info-contactos{
        width: 30%;
    }
    form {
    width: 100%;
    } */
/*  }
  @media  (max-width: 650) {
    form {
      width: 60%;
    }
  }
  @media  (max-width: 450) {
    form {
      width: 80%;
    }
  } */
