@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.container {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
header {
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid white;
  background-color: white;
  background-image: url(img/weave-nav.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  z-index: 100;
}
.nav-container {
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container a {
  height: 100px;
}
.nav-branding img {
  height: 100%;
  padding: 5px;
}
.nav-container a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}
.nav-container a:hover {
  color: #2196f3;
}
.hamburguesa {
  height: 100%;
  width: 100px;
  text-align: center;
  display: none;
}
.hamburguesa img {
  vertical-align: top;
  padding: 23px;
}
.container-hero img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  height: 600px;
  position: relative;
  border-top: 1px solid white;
  background-image: url(img/deco-bg.jpeg);
 
/*   background: hsla(234, 100%, 8%, 0.65); 
  background: -webkit-linear-gradient(
      to right,
      #004e928c,
      hsla(234, 100%, 8%, 0.705)
    ),
    url(img/deco-bg.jpeg); 
  background: linear-gradient(to right, #004e928c, hsla(234, 100%, 8%, 0.705)),
    url(img/deco-bg.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 60px;
}
.weave-hero {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.hero-info h1 {
  color: white;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}
.hero-info p {
  color: rgb(189, 198, 236);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.hero-btn {
  margin: 10px;
  align-self: flex-start;
  width: 50%;
  text-decoration: none;
  color: rgb(245, 239, 239);
  background-color: #113399;
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  box-shadow: 1px 1px 20px -5px rgba(77, 41, 41, 0.918);
  transition: background-color 200ms ease-in;
}
.hero-btn:hover {
  background-color: hsla(283, 62%, 47%, 0.644);
}
.pain-points {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.pain-point--title {
  font-size: 45px;
  color: #1f2744;
  padding-right: 15%;
}
.pain-point--paragrahp {
  display: flex;
  flex-direction: column;
  color: #484f6b;
  font-size: 18px;
  font-weight: 400;
  align-self: center;
}
.pain-point--paragrahp div {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}
.pain-point--paragrahp i {
  color: white;
  background: #113399;
  border: 1px solid #113399;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
/* about me */
.about-me {
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.418);
  margin-bottom: 60px;
}
.perfil-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.perfil-img img {
  max-width: 50%;
}
.about-me-histori {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.about-me-histori h2,
h3 {
  margin-bottom: 10px;
  font-weight: bold;
}
.about-me-histori h2 {
  font-size: 24px;
  color: #1f2744;
}
.about-me-histori h3 {
  font-size: 20px;
  color: #484f6b;
}
.about-me-histori p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #484f6b;
}
.aboute-me-btn a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: #113399;
  padding: 8px;
  border: 2px solid rgb(255, 253, 253);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.418);
  transition: background-color 200ms ease-in;
}
.aboute-me-btn a:hover {
  background-color: hsla(283, 62%, 47%, 0.904);
  color: rgb(224, 220, 220);
}
.subtitle {
  text-align: center;
  margin: auto;
  width: 90%;
  margin-bottom: 60px;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(224, 220, 220);
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
}
/* cards section */
.container-card {
  margin: auto;
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.card {
  color: #484f6b;
  width: 300px;
  position: relative;
  transition: all 300ms;
  border-radius: 20px;
}
.card--img {
  box-shadow: 1px 1px 0 0px rgba(253, 253, 253, 0.418);
  border-radius: 20px;
  height: 200px;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}
.card h3 {
  color: rgb(224, 220, 220);
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
  transition: all 300ms ease;
  font-size: 18px;
}
.card--img img {
  height: 100%;
  width: 100%;
}
.card-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 220px;
  color: #484f6b;
  padding: 10px 20px;
  top: 0;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}
.card-content h2 {
  font-size: 20px;
  font-weight: bold;
}
.card-content p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.card-btn {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
  background-color: #113399;
  color: rgb(245, 239, 239);
  border: 2px solid rgb(255, 253, 253);
  border-radius: 5px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.418);
  transition: background-color 200ms ease-in;
}
.card:hover {
  box-shadow: 1px 1px 20px -1px #20202049;
}
.card:hover .card-content {
  top: 50%;
  opacity: 100%;
  border-radius: 0px 0px 20px 20px;
}
.card--img :hover {
  border-radius: 20px 20px 0 0;
}
.card:hover h3 {
  opacity: 0;
}
.card-btn:hover {
  background-color: hsla(283, 62%, 47%, 0.918);
}
/* article */
.article-container {
  display: flex;
  min-height: 300px;
  max-height: 450px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}
.article-container h3 {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.article-container p {
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 50px;
}
.article-container a {
  margin: 0 20px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 250, 250);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.418);
  transition: background-color 200ms ease-in;
}
.btn-cta2 {
  background: #113399;
}
.btn-cta1:hover {
  background: #113399;
}
.btn-cta2:hover {
  background: transparent;
}
/* footer */
footer {
  background: rgb(32, 66, 131);
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-brand {
  display: flex;
  align-items: center;
}
.logo-footer {
  width: 70%;
}
.menu-footer {
  display: flex;
  flex-direction: column;
  color: white;
}
.menu-footer a {
  text-decoration: none;
  color: white;
}
.menu-footer ul {
  list-style: none;
  padding: 20px;
}
.menu-footer li {
  padding: 5px;
  font-size: 16px;
  font-weight: lighter;
}
.legal {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
}
.legal a {
  text-decoration: none;
  color: white;
}
.legal ul {
  list-style: none;
  padding: 20px;
}
.legal li {
  padding: 5px;
  font-size: 16px;
  font-weight: lighter;
}
.contact {
  color: white;
  font-size: 20px;
  margin-bottom: 60px;
}
.icons {
  margin: 20px;
}
.copy {
  text-align: center;
  color: white;
  font-size: 8px;
  background-color: hsla(237, 29%, 15%, 0.671);
}
/* stylos contacto */
.contact-content {
  display: flex;
  justify-content: space-between;
}
.info-contactos {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: white;
}
.text-contact {
  padding: 0 10px;
  line-height: 1.5;
  text-align: center;
}
.text-contact span {
  font-size: 24px;
}
.text-contact p {
  font-size: 18px;
}
.info-contactos h1 {
  font-size: 45px;
}
.social-icons {
  text-align: center;
  position: absolute;
  left: 100%;
  top: 70%;
  transform: translate(-100%, -70%);
  width: 100%;
}
.social-icons i {
  color: white;
  margin: 15px;
  font-size: 25px;
}
.social-icons a :hover {
  color: rgba(153, 0, 255, 0.534);
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 1;
}
.form {
  background: rgba(6, 33, 59, 0.411);
  color: rgb(144, 136, 185);
  border-radius: 10px;
  box-shadow: 0 0 6px 0rgba (255, 255, 255, 0.8);
  width: 100%;
  padding: 10px 0;
}
.form h2 {
  color: #c6c6c6;
  text-align: center;
  margin: 10px 0;
}
form .grupo {
  position: relative;
  margin: 45px;
}
input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff67;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  color: rgb(237, 235, 240);
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
label {
  color: #ffffff67;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 18px;
  transition: 0.5s ease all;
  pointer-events: none;
}
button {
  background: rgba(153, 0, 255, 0.534);
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}
/* responsive-area */
@media (max-width: 1110px) {
  .container {
    width: 90%;
  }
  .container-hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero-info {
    align-items: center;
    max-width: 100%;
  }
  .hero-info p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
  .hero-info h1 {
    text-align: center;
    font-size: 35px;
  }
  .hero-btn {
    font-size: 16px;
    align-self: center;
  }
  /* card-responsive */
  .container-card {
    flex-direction: column;
    align-content: center;
    height: 100%;
  }
  .card {
    margin-bottom: 30px;
    box-shadow: 1px 1px 20px -1px #20202049;
  }
  .card-content {
    position: initial;
    opacity: 100%;
  }
  .card-content p {
    text-align: center;
  }
  .card-btn {
    left: 50%;
    top: 95%;
    transform: translate(-50, -95%);
  }
  /* contactos */
  .info-contactos {
    width: 100%;
    height: 250px;
  }
  .social-icons {
    text-align: center;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
  }
  .form-container {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -25%);
  }
  form {
    border-radius: 10px;
    background: rgba(6, 33, 59, 0.623);
    width: 100%;
  }
  .space {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }
  .enlaces {
    position: fixed;
    background: hsla(226, 71%, 26%, 0.767);
    left: 0;
    top: 100px;
    width: 60%;
    height: 500px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
  }
  .enlaces2 {
    transform: translateX(0%);
  }

  .container {
    width: 95%;
  }
  .nav-container a {
    height: 90px;
  }
  .hamburguesa:hover img {
    border-radius: 50%;
  }
  .enlaces a:hover {
    color: hsl(2.2, 45.8%, 53.7%);
  }
  .hero-info {
    align-items: center;
    max-width: 100%;
  }
  .hero-info p {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
  .hero-info h1 {
    text-align: center;
    font-size: 30px;
  }
  .hero-btn {
    font-size: 12px;
    align-self: center;
  }
  .pain-points {
    margin: 5px;
    flex-direction: column;
    justify-content: center;
  }
  .pain-point--title {
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
  }
  .pain-point--paragrahp {
    font-size: 15px;
  }
  .about-me {
    flex-direction: column;
  }

  .about-me-histori {
    max-width: 100%;
    align-items: center;
  }
  .subtitle {
    font-size: 30px;
  }
  /* cards-responsive */
  .container-card {
    height: 100%;
  }
  .card {
    padding: 10px 0px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 20px -1px #20202049;
  }
  .card:hover h3 {
    opacity: 100;
  }
  .card-content {
    position: initial;
    opacity: 100%;
  }
  .card-content h2 {
    opacity: 0;
  }
  .card-content p {
    text-align: center;
  }
  .card-btn {
    left: 50%;
    top: 90%;
    transform: translate(-50, -90%);
  }
  /* article-responsive */
  .article-container {
    padding: 10px;
  }
  .article-container h3 {
    font-size: 20px;
  }
  .article-container p {
    font-size: 16px;
  }
  .article-container a {
    font-size: 15px;
    display: block;
  }
  .article-container p {
    margin-bottom: 20px;
  }
  /* footer-responsive */
  .footer-content {
    flex-direction: column;
  }
  .logo-footer {
    width: 20%;
  }
  .footer-brand {
    justify-content: center;
    margin: 60px;
  }
  .menu-footer {
    align-items: center;
    margin-bottom: 15px;
  }
  .legal {
    align-items: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* pagina-contactos */
  .info-contactos h1 {
    font-size: 30px;
  }
  .social-icons {
    width: 100%;
    height: 20px;
  }

  .form-container {
    width: 80%;
  }
}
@media (max-width: 380) {
  form {
    width: 80%;
  }
}
